<!DOCTYPE html>

<html>
  <head>
    <title>My Table</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      table {
        border-collapse: collapse;
        text-align: center;
      }
      table,
      th,
      td {
        border: 1px solid black;
        padding: 10px;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Sparks Foundation</h1>
    <table style="width: 100%">
      <tr>
        <th>Invoice Id.</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      <tr>
        <td id="quantity"><%= id %></td>
        <td id="unitPrice"><%= name %></td>
        <td id="totalPrice">$ <%= amount %></td>
        <td id="totalPrice"><%= date %></td>
      </tr>
    </table>
    <h3>Thank you for your donation</h3>
  </body>
</html>
